.container_C {
  width: 55%;

  .add-companies {
    margin: 10px 20px;
  }

  .form-companies {
    display: flex;
    flex-direction: column;

    input {
      width: 80%;
      margin-bottom: 20px;
      margin-left: 20px;
    }

    .btn-add_companies {
      margin-left: 20px;
      width: 80px;
    }
  }
}


.container_companies {
  width: 100%;
  height: 600px;
  margin-left: 20px;
  border-radius: 20px;
  background: aliceblue;
  overflow: auto;

  .info_companies {
    width: 100%;
    overflow: auto;
    height: 600px;
  }

  thead {
    z-index: 2;
    font-size: 18px;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    background: aliceblue;

    tr {

      th {
        background: #608888;
        align-items: center;
        justify-content: center;
      }
    }

  }

  tbody {
    z-index: 1;

    tr {
      .btn-group {
        display: flex;
        position: relative;
      }

      .td-blue {
        background: #96D5D5FF;
        font-size: 10px;
        font-family: "Roboto Slab";
        text-align: center;
        padding: 10px 10px;
        position: relative;

        .btn-edit {
          display: none;
          background: none;
          border: 0;
          position: absolute;
          bottom: 0;
          right: 0;
        }

        .btn-delete {
          background: none;
          border: 0;
          cursor: pointer;
        }

      }

      .td-grin {
        background: #96D5A1FF;
        font-size: 10px;
        font-family: "Roboto Slab";
        text-align: center;
        padding: 10px 10px;
        position: relative;

        .btn-edit {
          display: none;
          background: none;
          border: 0;
          position: absolute;
          bottom: 0;
          right: 0;
        }

        .btn-delete {
          background: none;
          border: 0;
          cursor: pointer;
        }

      }

      .btn-edit:hover {
        button {
          cursor: pointer;
          display: block;
        }
      }
    }
  }
}


